/* Media Queries for devices with a width of 768 pixels or less */
@media all and (max-width: 768px) {
    /* Adjustments for the header section */
    header {
        padding: 10px; /* Adding padding to the header for better spacing */
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav ul {
        flex-direction: row; /* Changing direction to row for better alignment */
        text-align: center; /* Centering the text within the navigation */
        justify-content: space-around; /* Adding space around navigation items */
        margin-left: -10px; /* Adjusting margin to ensure proper alignment */
        display: none; /* Hide the menu by default */
    }

    nav ul li {
        display: block; /* Displaying list items as block for better visibility */
    }

    /* Adjustments for the About Me section */
    #about {
        background-position: top; /* Aligning the background position to the top */
        height: auto; /* Setting the height to auto for responsive design */
    }

    #about1 {
        display: flex; /* Displaying as flex for better layout */
        flex-direction: column; /* Aligning elements in a column */
        justify-content: center; /* Centering content vertically */
        align-items: center; /* Centering content horizontally */
        width: 100%; /* Adjusting width to fill the screen */
        height: 100vh; /* Adjusting height to fit the screen */
        margin-top: 0; /* Removing top margin */
        margin-top: 400px; /* Adjusting top margin for better spacing */
    }

    #about1 div {
        margin-bottom: 20px; /* Adding margin for better spacing */
        padding: 30px; /* Adding padding for better spacing */
    }

    .about-details {
        font-size: 15px; /* Adjusting font size for better readability */
    }

    .dox {
        text-align: center; /* Centering the text */
        font-size: 12px; /* Adjusting font size for better readability */
    }

    .bot {
        margin-top: 150px; /* Adjusting margin for better layout */
    }

    #about #sub {
        margin-bottom: 0; /* Removing bottom margin */
    }

    #dance {
        margin: 0 auto; /* Centering the video horizontally */
        margin-bottom: -100px; /* Adjusting margin for better positioning */
    }

    .about-info {
        margin-bottom: 20px; /* Adding margin for better spacing */
    }

    /* Adjustments for the Skills section */
    #skills {
        background-position: top; /* Aligning the background position to the top */
        height: auto; /* Setting the height to auto for responsive design */
    }

    #skill {
        flex-direction: column; /* Aligning elements in a column for better layout */
        align-items: center; /* Centering items horizontally */
    }

    #descriptions {
        flex-direction: column; /* Aligning elements in a column for better layout */
        margin-top: 20px; /* Adjusting top margin for better spacing */
    }

    #descriptions div {
        margin-top: 10px; /* Adding margin for better spacing */
    }

    #text {
        margin-top: -300px; /* Adjusting top margin for better positioning */
        font-size: 20px; /* Adjusting font size for better readability */
    }

    /* Adjustments for the Projects section */
    #projects {
        background-position: top; /* Aligning the background position to the top */
        display: flex; /* Displaying as flex for better layout */
        flex-wrap: wrap; /* Wrapping items for better responsiveness */
        justify-content: space-between; /* Adding space between items */
        padding: 20px; /* Adding padding for better spacing */
        background-size: cover; /* Adjusting background size for better appearance */
        background-repeat: no-repeat; /* Preventing background from repeating */
        margin-top: 20px; /* Adjusting top margin for better spacing */
    }

    /* Adjustments for the project cards */
    .project-card {
        flex-basis: calc(100% - 10px); /* Adjusting width to fit within the page */
        margin-left: -20px; /* Adjusting margin for better spacing */
        margin-bottom: 20px; /* Adding margin for better spacing */
        border: 1px solid #ddd; /* Adding border for better visibility */
        padding: 20px; /* Adding padding for better spacing */
        border-radius: 5px; /* Adding border radius for better appearance */
        overflow: hidden; /* Preventing content overflow for better layout */
        background-size: 100% auto; /* Adjusting background size for better appearance */
        background-repeat: no-repeat; /* Preventing background from repeating */
        background-position: center; /* Centering the background */
    }

    #projects video {
        width: 300px;
        height: 300px;
    }

    /* Adjustments for the Contact section */
    #contact {
        background-position: top; /* Aligning the background position to the top */
        height: auto; /* Setting the height to auto for responsive design */
    }

    /* Adjustments for the Form styles */
    form {
        align-items: center; /* Centering form items horizontally */
    }

    /* Adjustments for the footer */
    footer {
        flex-direction: column; /* Aligning elements in a column for better layout */
        align-items: center; /* Centering items horizontally */
    }

    main {
        overflow-x: hidden; /* Hiding horizontal overflow for better appearance */
    }
}
