/* Media Queries for devices with a width of 768 pixels or less */
@media all and (max-width: 768px) {
    /* Adjustments for the header section */
    header {
        padding: 10px; /* Adding padding to the header for better spacing */
    }

    .menu-icon {
   nav ul.responsive {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 50px;
        display: block;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        margin-left: -10px;
    }

   nav ul.responsive {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 50px;
        display: block;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        margin-left: -10px;
    }
