/* Responsive styles */
@media all and (max-width: 768px) {
    /* Adjustments for the header section */
    header {
        padding: 10px; /* Adding padding to the header for better spacing */
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #cccccc;
    }

    nav ul {
        display: none; /* Hide default nav on mobile */
        flex-direction: column;
