/* header*/
header h1:hover {
    color: #999;
}

header p:hover {
    color: #999;
}

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    background-color: #333; /* Dark grey background */
    color: #ddd; /* Light grey text color */
    font-family: 'Rajdhani', sans-serif;
}

header {
nnav {
    background-color: rgba(51, 51, 51, 0.6); /* Translucent background for navigation */
    padding: 10px;
    text-align: center;
}
    background-color: rgba(51, 51, 51, 0.8); /* Dark gray header background */
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul a:hover {
    color: #777;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #cccccc;
}


nav a {
    text-decoration: none;
    color: #cccccc; /* Light grey for links */
}



main {
    padding: 10px;
    margin-top: -15px;
}

/* About Me section */
#about {
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Dark grey background with transparency */
    padding: 20px 20px 100px 20px;
    color: #cccccc;
    height: 100vh;
    display: block;
   flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
}

#about1 {
    display: block;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 450px;
}

#about1 .about-info,
#about1 .about-content,
#about1 div {
    margin-bottom: 5px;
}

.socials_container {
    display: block;
    flex-direction: column;
    align-items: center;
}

.dox {
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.dox:hover {
    color: #999;
}

#socials {
    position: absolute;
    bottom: 20px;
    display: block;
    justify-content: center;
    width: fit-content;
    border: solid #999 1px;
    padding: 5px;
    border-radius: 20px;
}

#socials a {
    margin: 0 10px;
}

#about #sub {
    color: #999;
    margin-bottom: -160px;
}

#dance::-webkit-media-controls {
    display:none !important;
}
#dance {
    margin-right: -70px;
}

#dance1 {
    margin-top: 100px;
    position: relative;
}

#dance1::-webkit-media-controls {
    display:none !important;
}
.about-content {
    text-align: center;
    padding: 10px;
}

.about-content a {
    text-decoration: none;
}

.about-details {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #cccccc;
}

.about-details:hover {
    color: #999;
}

.about-info {
    font-size: 1rem;
    margin-bottom: 400px;
    font-size: 20px;
}

@keyframes flickerAnimation {
    0% { color: white; }
    50% { color: #999; }
    100% { color: #777; }
}

.about-info {
    animation: flickerAnimation 1s infinite;
}

#sub {
    animation: flickerAnimation 1s infinite;
}

/* Skills section */
#skills {
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.4); /* Dark grey background with transparency */
    padding: 20px;
    margin-top: 20px;
    padding: 50px;
    //background-size: 20px 20px;
    height: 100vh;
;
}

#skill {
    border: solid #999 1px;
    border-radius: 10px;
    display: block;
    justify-content: space-around;
}

#skill #first {
    border: solid #999 1px;
    width: 150px;
    border-radius: 20px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#skill #sec {
    border: solid #999 1px;
    width: 150px;
    border-radius: 20px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#skill #third {
    border: solid #999 1px;
    width: 150px;
    border-radius: 20px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#skill #four {
    border: solid #999 1px;
    width: 150px;
    border-radius: 20px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#skill #fift {
    border: solid #999 1px;
    width: 150px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

#descriptions {
    display: block;
    flex-direction: row;
    border: solid #999 1px;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: space-between;
    padding: 10px;
}

#backend {
    border: solid #999 1px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

#frontend {
    border: solid #999 1px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

#airesearch {
    border: solid #999 1px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

#text {
    font-size: 50px;
    padding: 10px;
    display: block;
    justify-content: center;
    color: #777;
    text-shadow: -1px -1px 0 #fff,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

#pin {
    margin-top: 300px;
}

/* Projects section */
#projects {
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.4); /* Dark gray background for section */
    padding: 20px;
    //background-size: 20px 20px;
;
    margin-top: 20px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card h3:hover {
    color: #999;
}

#project1 {
    display: block;
    flex-direction: column;
}

#project2 {
    display: block;
    flex-direction: column;
}

.project-card {
    flex-basis: 48%;
    margin-bottom: 20px;
    border: 1px solid #ddd; background-color: rgba(0, 0, 0, 0.5); /* Translucent background for project cards */
    padding: 20px;
    border-radius: 5px;
}

.project-card a {
    display: block;
    margin-top: 10px;
    color: #999; /* Dark orange for links */
}

/* Contact section */
#contact {
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.4); /* Dark gray background for section */
    padding: 20px;
    margin-top: 20px;
    //background-size: 20px 20px;
;
}

/* Form styles */
form {
    display: block;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #999; /* Dark orange for labels */
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 5px 0;
    background-color: #999; /* Dark gray form input background */
    color: #cccccc; /* Light text color */
    border: 1px solid #999; /* Dark orange border */
}

button[type="submit"] {
    margin-top: 15px;
    background-color: #999; /* Dark orange button background */
    color: #1a1a1a; /* Dark text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #777; /* Slightly darker orange on hover */
}

footer {
    background-color: rgba(51, 51, 51, 0.8); /* Translucent background for footer */
    padding: 20px;
    text-align: center;

    display: block;
    flex-direction: row;
    justify-content: center;
    color: #999;
}

footer p{
    padding: 5px;
}

footer a {
    font-style: none;
    color: white;
}
n/* Style for the stars canvas */
#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place behind other content */
}
